@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * { -webkit-tap-highlight-color: transparent; }
  body {
    @apply bg-bg text-white antialiased;
  }
  ::-webkit-scrollbar { width: 4px; height: 4px; }
  ::-webkit-scrollbar-track { background: transparent; }
  ::-webkit-scrollbar-thumb { background: theme('colors.border'); border-radius: 2px; }
}
